---
// import NavBar from "@components/shared/NavBar.astro";
import Footer from "@components/Footer";
import Navbar from "@components/Navbar";
import { navItems } from "@constants/data";
import { ViewTransitions } from "astro:transitions";
import { siteInfo } from "src/constants/site-info";
interface Props {
  title?: string;
  image?: string;
  description?: string;
}

const {
  title = siteInfo.title,
  description = siteInfo.description,
  image,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <meta name="description" content={description} />
    <meta name="Autor" content={"kodify"} />

    <!-- OG Metatags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- required -->
    <title>{title}</title>

    <ViewTransitions />
  </head>
  <body>
    <Navbar navItems={navItems} client:only="react" />
    <slot />
    <Footer footerItems={navItems} />
  </body>
</html>
